<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - {{ wiki_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
    <div class="menu">
        <a href="/w/{{ wiki_page }}" style="text-decoration: none; color: {{ wiki_color or 'white' }};"><b>{{ wiki_name or 'WIKI' }}</b></a>

        {% if session.get('user') %}
            <a href="/Logout" class="box">로그아웃</a>&nbsp;
        {% else %}
            <a href="/Sign_Up" class="box">회원가입</a>&nbsp;
            <a href="/Revisit" class="box">로그인</a>&nbsp;
        {% endif %}

        <a href="/w/{{ wiki_page }}" class="box">대문으로 돌아가기</a>&nbsp;
        <a onclick="history.back()" class="box">이전 페이지로 돌아가기</a>&nbsp;
        <a href="/RandomPage" class="Random">↻</a>&nbsp;
        <form action="/search">
            <input type="text" name="q" placeholder="Search wiki...">
            <button>검색</button>
        </form>
    </div>
    <div class="container">
        <h1>{{ title }}</h1>
        <p>{{ title }} 에러가 발생했습니다.</b></p>
        <p><a href="/w/{{ wiki_page }}">대문으로 돌아가기</a> <a onclick="history.back()">이전 페이지로 돌아가기</a></p>
        {{ footer_content|safe }}
    </div>
</body>
</html>